/* Error: expected "{".
 *   ,
 * 6 | >>>>>>> e9c4e436b9b4f14d88ea471fb6d9ecd134e23538
 *   |                                                 ^
 *   '
 *   sass\layout\_body.scss 6:49   @import
 *   sass\layout\_layout.scss 4:9  @import
 *   sass\style.scss 5:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 6 \2502  >>>>>>> e9c4e436b9b4f14d88ea471fb6d9ecd134e23538\d\a   \2502                                                  ^\a   \2575 \a   sass\\layout\\_body.scss 6:49   @import\a   sass\\layout\\_layout.scss 4:9  @import\a   sass\\style.scss 5:9           root stylesheet';
}
