body {
<<<<<<< HEAD
    background-color: $clr_greydark;
=======
<<<<<<< HEAD
    background-color: $clr_greydark;
    max-height: 600px;
=======
    
>>>>>>> e115bbf87f160fa0e1b010c9e4ea4e73d4d47417
>>>>>>> 1fcf6799b1d0096ec73b37ff23f22b34e99f4eb2
}